* {
  font-family: "Roboto";
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
  color: #fff;
}

.header-div {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.movie-card-poster {
  width: 150px;
  margin: 5px;
  transition: width 1s ease-in-out;
  transition: margin-top 1s ease-in-out;
  cursor: pointer;
}

.movie-card-poster:hover {
  width: 200px;
  margin-top: -20px;
}

.login-background {
  position: absolute;
  z-index: -40;
  width: 100vw;
  height: 120vh;
  overflow: hidden;
}

.login-background img {
  z-index: -30;
  position: absolute;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
  position: relative;
}

.login-form {
  position: absolute;
  background-color: black;
  opacity: 0.7;
  color: white;
  width: 35%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 4%;
}

.login-form input {
  height: 50px;
  background: transparent;
  border: 1px white solid;
  border-radius: 5px;
  padding: 0 10px;
  color: white;
}

.login-form button {
  background-color: red;
  border: none;
  height: 48px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}

.main-video-container {
  width: 100vw;
  height: 80vh;
  color: white;
}

.video-container-text {
  position: absolute;
  width: 50%;
}

.video-container-text button {
  border: none;
  height: 45px;
  padding: 0 40px;
  border-radius: 5px;
  font-weight: bold;
}

.main-video {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
  z-index: -2;
}

.main-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.movie-list-titles {
  font-size: 17.92px;
  font-weight: 500;
  margin-bottom: 0;
}

.show-trailer-div {
  height: 200px;
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 75%;
}

.show-trailer-div iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.movie-list-div {
  overflow-y: hidden;
  scrollbar-color: red black;
  scrollbar-width: thin;
}

.apology {
  width: 500px;
  max-width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
}

.apology img {
  width: 50%;
  margin: auto;
}
